@import "./color.scss";

@media (max-width: 1000px) {
  .right_container {
    margin-left: 0px;
    margin-top: 120px;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .search_bar {
    .site_logo {
      margin-bottom: 16px;
      .site_image {
        display: flex;
        width: 60px;

        img {
          width: 100%;
          filter: invert(100%);
        }
      }
    }
    p {
      display: none;
      width: 100%;
    }
  }

  .user_card_container {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;

    .left_card {
      .image_container {
        width: 80px;
      }

      h4 {
        font-size: 25px;
      }
    }
    a {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }

  .user_detail_data {
    .center_row {
      .user_detail_data_image{
        img{
          width: 75%;
        }
      }
      .center_detail_card {
        .center_detail_card_data{
          display: block;

          div{
            margin-bottom: 16px;
          }
        }
      }
    }

    .bottom_row{
      flex-direction: column;
      gap: 16px;
      .data_container_box_component{
        width: 100%;
      }
    }
  }
}
