@import "../partials/color.scss";

.back_container {
  display: flex;
  align-items: center;
  gap: 8px;
  .back_link {
    color: $primary;
  }
}

.user_detail_page {
  height: 100vh;
  padding: 24px;
}

.user_detail_data {
  color: $white;
  margin-top: 24px;
  padding: 24px;
  background-color: $background_grey;
  border-radius: 40px;
  margin-bottom: 40px;

  .top_row {
    margin-bottom: 24px;
  }

  .center_row {
    display: flex;
    align-items: center;
    gap: 24px;

    .user_detail_data_image {
      img {
        border-radius: 50%;
      }
    }

    .center_detail_card {
      h4 {
        margin-bottom: 16px;
      }
      h1 {
        color: $primary;
        margin-bottom: 12px;
      }
      .center_detail_card_data {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        p {
          color: $background_light_grey;
          margin-bottom: 4px;
        }
      }
    }
  }

  /* Data container box component */

  .bottom_row {
    display: flex;
    justify-content: space-between;

    .data_container_box_component {
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: $background_light_grey;
      border-radius: 24px;
      padding: 24px;
      width: calc(100% / 3 - 16px);
    }
  }
}

.accordion {
  cursor: pointer;
  transition: 0.4s;
  background-color: $background_grey;
  border-radius: 24px;
  padding: 24px;
  .accordion_item {
    .accordion_title {
      color: $primary;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .accordion_content {
      color: $white;
      margin-top: 16px;
      ul {
        li {
          margin-bottom: 8px;
          word-break: break-word;
        }
      }
    }
  }
}

.active,
.accordion:hover {
  background-color: $background_light_grey;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

@import "../partials/mediaQuery.scss";
