$primary_brown: #9a031e;
$primary_orange: #fb8b24;
$secondary_purple: #5f0f40;
$background_grey: #f0f0f0;
$grey: #b9b9b9;
$light_grey: #fafafa;
$white: #ffffff;
$black: #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* SidebarComponent */

.sidebar {
  position: fixed;
  height: 100%;
  width: 320px;
  background: linear-gradient(
    0deg,
    rgba(180, 74, 58, 1) 0%,
    rgba(253, 29, 29, 1) 27%,
    rgba(252, 121, 69, 1) 100%
  );
  padding: 24px;
}

/* SearchBarComponent */

.search_bar {
  .site_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    .site_image {
      display: flex;
      width: 80px;

      img {
        width: 100%;
        filter: invert(100%);
      }
    }

    label {
      font-weight: 700;
      color: $white;
      text-align: right;
    }
  }

  input {
    padding: 16px;
    height: 32px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid $grey;
    background-color: $light_grey;
  }

  p {
    color: $white;
    font-size: 14px;
    margin-bottom: 16px;
  }
}

/* UserCardComponent */

.user_card_container {
  padding: 8px;
  background-color: $light_grey;
  border: 1px solid $grey;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 100%;

  .left_card {
    display: flex;
    align-items: center;
    gap: 16px;

    .image_container {
      width: 40px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  button {
    background-color: $primary_orange;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: $white;
    font-weight: 700;
  }
}

.infinite-scroll-component {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
